.close-card-or-board {
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.formButtonGroup {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.openFormButtonGroup {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    height: 36px;
    width: 272px;
    padding-left: 10px;
    background-color: rgba(218, 207, 207, 0.6);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.openFormButtonGroup:hover {
    background-color: rgba(182, 169, 169, 0.7);
}

.card-style {
    min-height: 85px;
    min-width: 272px;
    padding: 6px 8px 2px;
}

.textarea-style {
    resize: none;
    width: 100%;
    outline: none;
    border: none;
    overflow: hidden;
}