* {
    box-sizing: 0;
}

html, body {
    height: 98%;
}

body {
    margin:0;
    background-image: url(../images/matrix.jpg);
}

header {
    background-color: rgba(151, 211, 229, 0.15);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

header h1 {
    float: left;
    text-align: center;
}

header svg {
    float: right;
}

.app-title {
    margin-right: 3em;
    color: rgba(172, 234, 255, 0.9);
    text-shadow: 2px 2px 3px rgb(103, 121, 128);
    font-family: serif;
}

.board-container-app {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    top:5vw;
    width: 50vw;
    height: 30vw;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: absolute;
}

input, textarea, select, option {
    width: 50%;
    display: block;
    padding: 4px;
}

select {
    width: 52%;
    display: block;
}

.close-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;   
    top: 13px;
    right: 17px;
    transform: scale(2) rotate(45deg);
    -webkit-transform: scale(2) rotate(45deg);
    -moz-transform: scale(2) rotate(45deg);
    -ms-transform: scale(2) rotate(45deg);
    -o-transform: scale(2) rotate(45deg);
    border: 1px solid black;
    border-radius: 15px;
    width: 10px;
    height: 10px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    -webkit-cursor: pointer;
    -moz-cursor: pointer;
    -o-cursor: pointer;
    -ms-cursor: pointer;
}

.title-container, .description-container, .priority-container, .deadline-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 30px auto;
}

.title-label, .description-label, .priority-label, .deadline-label {
    position: absolute;
    left: 5em;
}

.description-textarea {
    width: 50%;
    resize: none;
    height: 7em;
}

.div-button-create {
    position: absolute;
    bottom: 2em;
    left: 19em;
    background-color:#6ecbf7;
	border-radius:28px;
	border:1px solid #226f99;
	display: inline-block;
    cursor: pointer;
    -webkit-cursor: pointer;
    -moz-cursor: pointer;
    -o-cursor: pointer;
    -ms-cursor: pointer;
	color:#ffffff;
	font-family: Verdana;
	font-size:16px;
	padding:13px 14px;
	text-decoration:none;
    text-shadow:2px 1px 2px #357d86;
    -webkit-text-shadow:2px 1px 2px #357d86;
    -ms-text-shadow:2px 1px 2px #357d86;
    -moz-text-shadow:2px 1px 2px #357d86;
    -o-text-shadow:2px 1px 2px #357d86;
}

.div-button-create:hover {
	background-color:#668cad;
}

.canvas {
    position: absolute;
    left: 1.1em;
    top: 0;
}

#svg-weed {
    transform: scale(3);
    right: 33vw;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
    -webkit-cursor: pointer;
    -moz-cursor: pointer;
    -o-cursor: pointer;
    -ms-cursor: pointer;
    color: lightblue;
}

#svg-weed > path {
    fill: lightblue;
}

#svg-weed:hover {
    background-color: rgba(113, 129, 139, 0.7);
}

.sc-AxjAm {
    max-height: 54em;
    overflow-y: auto;
}

.add-board-button {
    margin-left: 0.7em;
}

.date-created-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.date-created-container label {
    margin-right: 19px;
    font-weight: bold;
}

.date-created-container p {
    margin-right: 2em;
}

@media screen and (max-width: 700px) {

    .board-container-app {
        flex-direction: column;
        width: 70%;
    }

    main > div > section {
        margin-bottom: 25px;
    }
    


    .header svg {
        float: none;
        display: block;
        text-align: left;
    }

    .modal-content {
        width: 50vw;
    }


    #svg-weed {
        right:10%;
    }
}
