.board-individual-container {
    background-color: rgb(160, 203, 218); 
    border-radius: 3px;
    width: 300px;
    padding: 8px;
    height: 100%;
    margin-left: 0.9em;
}

.board {
    position: relative;
}

.svg-board-icon path {
    fill: rgb(192, 60, 60);
}

.svg-board-icon {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 0.3em;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    cursor: pointer;
    -webkit-cursor: pointer;
    -moz-cursor: pointer;
    -ms-cursor: pointer;
    -o-cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.svg-board-icon:hover {
    transform: scale(1.8);
}

.board-title {
    margin-left: 10px;
    margin-top: 10px;
}

.sort-button-container {
    position: absolute;
    right: 3em;
    border-radius: 7px;
    border: 1px solid black;
    padding: 3px;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.sort-button-container:hover {
    background-color: rgba(137, 178, 206, 0.7);
}