.card-container {
    margin-bottom: 8px;
}

.card {
    display: flex;
    flex-direction: row;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.card:hover {
    background-color: pink;
}

h4, .svg-icon {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.cardName {
    margin: 0;
    width: 87%;
    word-wrap: break-word;
    font-weight: normal;
}

.card:hover > .cardName{
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
}

.card:hover > .svg-icon{
    transform: scale(1.60);
    -webkit-transform: scale(1.60);
    -moz-transform: scale(1.60);
    -ms-transform: scale(1.60);
    -o-transform: scale(1.60);
}

.delete-task-button {
    position: absolute;
    right: 16px;
    transform: scale(1.4) rotate(45deg);
    -webkit-transform: scale(1.4) rotate(45deg);
    -moz-transform: scale(1.4) rotate(45deg);
    -ms-transform: scale(1.4) rotate(45deg);
    -o-transform: scale(1.4) rotate(45deg);
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    width: 10px;
    height: 10px;
}


.svg-icon {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 16px;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    cursor: pointer;
}
  
.svg-delete path, .svg-delete polygon, .svg-delete rect {
    fill: black;
}

.svg-icon circle {
    stroke: black;
    stroke-width: 1;
}

@media screen and (max-width: 700px) {

    
    .kQVtvc {
        flex-direction: column;
        width: 70%;
    }


}